<div class="wrapper">

  <mat-card class="container">
  
    <mat-card-content class="form">
      <!--CABEÇALHO-->
      <mat-card-header>
        <mat-card-title>Cadastre-se!</mat-card-title>
      </mat-card-header>
      <!--FORMULÁRIO-->
      <form 
      id="form-container" 
      action="#" 
      (ngSubmit)="enviarButtonReactive()" 
      [formGroup]="cadastrosData">
        <!--CONTAINER-->
        <div class="form">

          <!--NOME-->
          <mat-form-field appearance="outline">
            <mat-label>Nome</mat-label>
            <input 
            matInput 
            type="text" 
            placeholder="Digite seu nome.." 
            required
            formControlName="name"
            minlength="3">
  
            <mat-error>
              <span *ngIf="cadastrosData.controls['name'].getError('required')">
                Campo Obrigatório!!
              </span>

              <span *ngIf="cadastrosData.controls['name'].getError('minlength')">
                Quantidade errada de caracteres - (mínimo 3)
              </span>
            </mat-error>
          </mat-form-field>

          <!--SOBRENOME-->   
          <mat-form-field appearance="outline">
            <mat-label>Sobrenome</mat-label>
            <input 
            type="text" 
            matInput 
            placeholder="Digite seu sobrenome.." 
            required 
            formControlName="lastName"
            minlength="3">
  
            <mat-error>
              <span *ngIf="cadastrosData.controls['lastName'].getError('required')">
                Campo Obrigatório!!
              </span>

              <span *ngIf="cadastrosData.controls['lastName'].getError('minlength')">
                Quantidade errada de caracteres - (mínimo 3)
              </span>
            </mat-error>
          </mat-form-field>

          <!--USERNAME-->
          <mat-form-field appearance="outline">
            <mat-label>Username</mat-label>
            <input 
            type="text" 
            matInput 
            placeholder="Digite seu Username.." 
            required 
            formControlName="username">
  
            <mat-error>
              <span *ngIf="cadastrosData.controls['username'].getError('required')">
                Campo Obrigatório!!
              </span>
            </mat-error>
          </mat-form-field>

          <!--EMAIL-->
          <mat-form-field appearance="outline">
            <mat-label>E-mail</mat-label>
            <input 
            type="text" 
            matInput 
            placeholder="email@exemplo.com" 
            required 
            formControlName="email">
  
            <mat-error>
              <span *ngIf="cadastrosData.controls['email'].getError('required')">
                Campo Obrigatório!!
              </span>
            </mat-error>
          </mat-form-field>

          <!--CPF-->
          <mat-form-field appearance="outline">
            <mat-label>CPF</mat-label>
            <input 
            type="text" 
            matInput 
            placeholder="Digite seu CPF..." 
            required
            formControlName="cpf"
            minlength="11">
  
            <mat-error>
              <span *ngIf="cadastrosData.controls['cpf'].getError('required')">
                Campo Obrigatório!!
              </span>

              <span *ngIf="cadastrosData.controls['cpf'].getError('minlength')">
                Quantidade errada de caracteres - (mínimo 11)
              </span>
            </mat-error>
          </mat-form-field>

          <!--TELEFONE-->
          <mat-form-field appearance="outline">
            <mat-label>Telefone</mat-label>
            <input 
            type="tel" 
            matInput
            placeholder="EX: (00)00000-0000" 
            required 
            formControlName="telefone"
            minlength="11">
  
            <mat-error>
              <span *ngIf="cadastrosData.controls['telefone'].getError('required')">
                Campo Obrigatório!!
              </span>

              <span *ngIf="cadastrosData.controls['telefone'].getError('minlength')">
                Quantidade errada de caracteres - (mínimo 11)
              </span>
            </mat-error>
          </mat-form-field>
  
          <!--ENDEREÇO-->
          <mat-form-field appearance="outline">
            <mat-label>Endereço</mat-label>
            <input 
            type="text" 
            matInput 
            placeholder="Digite o seu endereço.." 
            required 
            formControlName="endereco"
            minlength="5">
  
            <mat-error>
              <span *ngIf="cadastrosData.controls['endereco'].getError('required')">
                Campo Obrigatório!!
              </span>
            </mat-error>
          </mat-form-field>

          <!--COMPLEMENTO-->
          <mat-form-field appearance="outline">
            <mat-label>Complemento</mat-label>
            <input 
            type="text" 
            matInput 
            placeholder="Digite o complemento (apt, andar, ponto de referência e etc) .."
            required 
            formControlName="complemento"
            minlength="5">
  
            <mat-error>
              <span *ngIf="cadastrosData.controls['complemento'].getError('required')">
                Campo Obrigatório!!
              </span>
            </mat-error>
          </mat-form-field>

          <!--SENHA-->
          <mat-form-field appearance="outline">
            <mat-label>Senha</mat-label>
            <input type="password"
            matInput 
            placeholder="Digite a sua senha..."
            required
            formControlName="senha"
            minlenght="6">
  
            <mat-error>
              <span *ngIf="cadastrosData.controls['senha'].getError('required')">
                Campo Obrigatório!!
              </span>

              <span *ngIf="cadastrosData.controls['senha'].getError('minlength')">
                Quantidade errada de caracteres - (mínimo 6)
              </span>
            </mat-error>
          </mat-form-field>

          <!--CONFIRMA SENHA-->
          <mat-form-field appearance="outline">
            <mat-label>Confirme a sua Senha</mat-label>
            <input 
            type="password"
            matInput 
            placeholder="Confirmar a senha..."
            formControlName="confirmaSenha"
            required
            minlenght="6"
            (change)="validarSenhas()">
  
            <mat-error>
              <span *ngIf="cadastrosData.controls['confirmaSenha'].getError('required')">
                Campo Obrigatório!!
              </span>

              <span *ngIf="cadastrosData.controls['confirmaSenha'].getError('minlength')">
                Quantidade errada de caracteres - (mínimo 6)
              </span>
            </mat-error>
          </mat-form-field>
  
        </div>

        <!--BOTÃO-->
        <div>
          <button
          mat-raised-button
          type="submit"
          color="primary"
          (click)="enviarButtonReactive()">
          <p>
            Enviar
          </p>
        </button>
        </div>
  
      </form>
    </mat-card-content>
  
  </mat-card>

</div>